.experience_details{
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: .6rem .75rem;
    border-radius: .75rem;
    transition: background .3s ease;
}
.tech-stack{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
}
.experience_details>div{
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, .08);
    transition: border-color .3s ease;
    cursor: url('Excellent.png') 16 16, auto !important;
}
.ExperienceBox{
    border-color: #0000001a;
    grid-column: auto;
    width: 400px; /* content width */
    padding: 5px; /* space inside */
    border: 5px solid green;
    margin: 15px; /* space outside */
}
.experience_details:hover {
  background: rgba(248, 5, 5, 0.05);
  cursor: url('Excellent.png') 16 16, auto !important;
}